<!-- modal need sms-verify -->
<div class="modal fade" id="smsVerifyModal" data-show="false" style="height: 100%;">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <h3 class="no-margin-top">Cell Number Verification Pending</h3>
              <hr>
              <p>Cell number verification will allow us to verify that you are the owner of the cell number associated with this account. It is an important and required step to use certain features on Ratingsville.com. To verify your cell number, please click <b>Request SMS Code</b>. Once received, please enter the code in the input box below and click <b>Submit</b>. To skip this step now, please click <b>Remind me Later</b>.</p>

              <div class="alert alert-success" role="alert" ng-if="$ctrl.authWrapCtrl.authCtrl.tokenSentCount == 1" ng-cloak x-ms-format-detection="none">
                We sent your verification code to:</br>{{$ctrl.authWrapCtrl.authCtrl.user.mobileNum|phoneFormatter}}
              </div>
              <div class="alert alert-success" role="alert" ng-if="$ctrl.authWrapCtrl.authCtrl.tokenSentCount > 1" ng-cloak x-ms-format-detection="none">
                We re-sent your verification code to:</br>{{$ctrl.authWrapCtrl.authCtrl.user.mobileNum|phoneFormatter}}
              </div>			  
              <form ng-if="$ctrl.authWrapCtrl.authCtrl.isTokenVerified!= true" ng-submit="$ctrl.authWrapCtrl.authCtrl.verifyOrSendSmsToken($ctrl.authWrapCtrl.authCtrl.tokenCode, $ctrl.authWrapCtrl.authCtrl.user.email, $ctrl.authWrapCtrl.authCtrl.sendToken, $ctrl.authWrapCtrl.authCtrl.remindMe)" name="$ctrl.authWrapCtrl.authCtrl.smsVerify" novalidate>
                  <div class="form-group">
                      <button type="button" ng-click="$ctrl.authWrapCtrl.authCtrl.verifyOrSendSmsToken($ctrl.authWrapCtrl.authCtrl.tokenCode=null, $ctrl.authWrapCtrl.authCtrl.user.email, $ctrl.authWrapCtrl.authCtrl.sendToken=true, $ctrl.authWrapCtrl.authCtrl.remindMe)" class="btn btn-theme btn-t-primary btn-lg btn-block">
                          <i class="fa fa-spinner fa-spin spin" ng-if="false" style="font-size:18px"></i>&nbsp;&nbsp;

                    <span ng-if="!$ctrl.authWrapCtrl.authCtrl.is_loading&&$ctrl.authWrapCtrl.authCtrl.tokenSentCount == 0">Request SMS Code</span>
                    <span ng-if="$ctrl.authWrapCtrl.authCtrl.is_loading">Sending reset link...</span>
                    <span ng-if="!$ctrl.authWrapCtrl.authCtrl.is_loading&&$ctrl.authWrapCtrl.authCtrl.tokenSentCount > 0">Didn't receive a code?<br/>Request another one</span>
                      </button>
                      <button type="button" class="btn btn-theme btn-t-primary btn-lg btn-block" ng-click="$ctrl.isOpen = false">Remind me Later</button>
                  </div>
                  <div class="form-group">
                      <label>Please enter your SMS code in the box below: </label>
                      <div ng-messages="$ctrl.authWrapCtrl.authCtrl.submitted && $ctrl.authWrapCtrl.authCtrl.smsVerify.tokenCode.$error">
                          <span class="text-danger" ng-message="required">Enter your verification code.</span>
                      </div>
                      <input id="verifySMSInput" type="text" ng-model="$ctrl.authWrapCtrl.authCtrl.tokenCode" name="tokenCode" class="form-control" focus="true" required autocomplete="off">
                  </div>
                  <div class="white-space-15"></div>
                  <div class="form-group">
                      <button type="submit" ng-click="$ctrl.authWrapCtrl.authCtrl.submitted=true; $ctrl.authWrapCtrl.authCtrl.sendToken=false; " class="btn btn-theme btn-t-primary btn-lg btn-block">
                          <i class="fa fa-spinner fa-spin spin" ng-if="false" style="font-size:18px"></i>&nbsp;&nbsp;
                          <span ng-if="!$ctrl.authWrapCtrl.authCtrl.is_loading">Submit</span>
                          <span ng-if="$ctrl.authWrapCtrl.authCtrl.is_loading">Sending reset link...</span>
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- end modal  sms-verify -->
