<!-- modal coverage info -->
<div class="modal fade" id="modalCoverage" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>General guidance for each coverage type listed below as follows (specific coverage may vary by child care center):</p>
                <p><b>Full day:</b> Minimum 6 hours continuous coverage 5 days/week (Mon - Fri). May depend on start and end times of coverage.</p>
                <p><b>Half day:</b> Minimum 4 hours continuous coverage 5 days/week (Mon - Fri). May depend on start and end times of coverage.</p>
                <p><b>Infant:</b> Coverage for children up to 1 1/2 years of age.</p>
                <p><b>Night:</b> Coverage between 7 pm and 5 am (following day).</p>
                <p><b>Part time:</b> Coverage less than 5 days/week (Mon - Fri).</p>
                <p><b>School year only:</b> Coverage provided only during the local school year. Coverage may not be available on days when local schools are closed.</p>
                <p><b>Weekend:</b> Coverage on Saturday, Sunday or both.</p>
            </div>
        </div>
    </div>
</div>
<style>
    #modalCoverage .modal-body p {
        line-height: 1.5;
    }
</style>
<!-- modal coverage info -->
