<!-- modal other features info -->
<div class="modal fade" id="modalOtherFeatures" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0;" style="padding: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>General guidance for each feature listed below as follows (specifics of each feature may vary by state and/or child care center):</p>
                <p><b>Accredited:</b> Child care center meets or exceeds standards/targets set by an unrelated, outside accrediting agency. For a list of National and Regional Accrediting Agencies, click here</p>
                <p><b>Faith based:</b> Child care center is affiliated with, or operated by, a religious organization</p>
                <p><b>Head Start:</b> A federal program of the U.S. Department of Health & Human Services which provides school readiness services for children from birth to age 5 from low-income families and other families with special needs. Some child care enters may offer Head Start programs. For additional information on Head Start, visit <a href="https://www.acf.hhs.gov/ohs/about/head-start" target="_blank">https://www.acf.hhs.gov/ohs/about/head-start.</a></p>
                <p><b>School Readiness:</b> Program that provides financial assistance for child care to qualified low-income families. The program aims at preparing children from certain financially challenged families to begin Kindergarten ready to learn.</p>
                <p><b>State Quality Program:</b> Implemented at the state level, such programs attempt to improve the quality and performance of child care centers by setting certain goals and standards that participating child care centers must achieve. The following states on Ratingsville's platform have implemented such programs:</p>
                <ul>
                    <li>Florida - <a href="http://www.myflfamilies.com/service-programs/child-care/goldseal" target="_blank">Gold Seal</a></li>
                    <li>New Jersey - <a href="http://www.grownjkids.gov" target="_blank">Grow NJ Kids</a></li>
                    <li>New York - <a href="http://www.qualitystarsny.org" target="_blank">QUALITYstarsNY</a></li>
                    <li>Virginia - <a href="https://www.virginiaquality.com" target="_blank">Virginia Quality</a></li>
                </ul>
                <p><b>Pre-K:</b> Please check with child care centers you are interested in about details of their pre-K offerings.</p>
            </div>
        </div>
    </div>
</div>
<style>
    #modalOtherFeatures .modal-body p {
        line-height: 1.5;
    }
    #modalOtherFeatures .modal-body li {
        line-height: 1.5;
    }
</style>
<!-- modal other features info -->
