<!-- modal service options info -->
<div class="modal fade" id="modalServiceOptions" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding: 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>General guidance for each service option listed below as follows (specifics service option may vary by child care center):</p>
                <p><b>After school:</b> Child care coverage for school going children (Kindergarten and above) during school district's academic calendar year. Care provided only after school hours, on teacher planning days, holidays, and any other closures based on school district's academic calendar year.</p>
                <p><b>Before school:</b> Child care coverage for school going children (Kindergarden and above) during school district's academic calendar year. Care providec only before school hours, on teacher planning days, holidays, and any other closures based on school district's academic calendar year.</p>
                <p><b>Drop-ins:</b> Child care coverage for a limited number of hours, usually in places such as shopping malls, health spas, hotels or other locations where parents/guardians are typically on premises or are otherwise easily accessible.</p>
                <p><b>Food served:</b> Child care center provides some combination of breakfast, lunch, dinner and snacks.</p>
                <p><b>Transportation:</b> Child care center provides transportation to and from select schools for before school and after school services. Transportation services may also exist between child's residence and the child care center.</p>
            </div>
        </div>
    </div>
</div>
<style>
    #modalServiceOptions .modal-body p {
        line-height: 1.5;
    }
</style>
<!-- modal service options info -->
