<!DOCTYPE html>
<html style="margin: 0;padding: 0;">
<head>
    <title></title>
</head>
<body style="margin: 0;padding: 0;border: 2px solid #FFF;">

<div style="background: #7a7a7a;padding: 1% 10%;border:2px solid #FFF;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">

    <p class="logo_name"
       style="font-size: 35px;font-weight: 600;color: #333; margin: 10px 0 10px 0;text-align: center;">
        <img src="https://www.ratingsville.com/assets/img/logo-8.png"
             style="width: 25%;position: relative;top: 10px;right: 10px;">
        <!-- Ratingsville -->
    </p>

    <div class="body" style="position:relative;min-height: 150px;background: #FFF;padding: 20px 40px;border-radius:6px">
        <h2 style="color: black;margin-bottom: 50px;font-weight:bold;">
          Hello<% if (user) { %> <%= user.firstName %><% } %>,
        </h2>
        
        <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;">
            This email confirms that the Ratingsville Customer Service Team recently received a message from you. We appreciate the opportunity to help you with your inquiry and will try to respond in 24-72 hours.
            For your benefit, a copy of your message is included below.
        </p>
        
        <% if (!user) { %>
            <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;">
                If you are not already a registered user, please take a few minutes to become one by clicking <a href="<%= register_link %>">Register</a>.
                There is so much more you can do on Ratingsville.com as a registered user and there is no fee to register.
            </p>
        <% } %>
        
        <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;">
            Thank you for being a valued customer. We look forward to your continued partnership.
        </p>
        <br/>
        <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;">Sincerely,</p>
        <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;"><b>The Ratingsville Team </b></p>
        <hr style="border: none;border-bottom: 1px solid #ececec;margin: 40px 0 1.5rem 0;">

        <p style="font-size: 17px;line-height: 24px;margin: 0 0 16px;">
            Message sent from <%= sender_email %>:
            <br/>
            <%= message %>
        </p>
    </div>


    <div class="footer">
        <p style="padding-top: 20px; font-size: 14px;color: white;text-align: center;font-weight: 600;">Copyright &copy;
            2018 - Ratingsville</p>
    </div>
</div>
<div style="height: 5px;"></div>
</body>
</html>


