<!-- wrapper page -->
<div class="wrapper" ng-if="!auth_ctrl.is_verifying_request">
  <!-- main-header -->
  <header class="main-header">
    <div ui-view="navbar"></div>
    <div ng-if="includeSubheader">
      <div class="white-space-20"></div>
      <h3 class="color-white text-center">
        <div ng-bind-html="subHeaderContent"></div>
      </h3>
      <div class="white-space-20"></div>
    </div>
  </header>
  <!-- body-content -->
  <div class="block-section bg-color4">
    <div class="container">
      <div class="panel panel-md">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="no-margin-top" >Change Password</h3>
              <hr>
              <div class="alert alert-danger" role="alert"
                   ng-if="auth_ctrl.is_request_expired && !auth_ctrl.is_verifying_request">
                <p>This password reset link has already expired. <a href="javascript:;" ui-sref="forgotPassword">Resend
                  another one.</a></p>
              </div>
              <div class="alert alert-danger" role="alert" ng-if="auth_ctrl.hasErrors">
                {{auth_ctrl.errorText}}
              </div>


              <!--<div class="row" data-ng-hide="auth_ctrl.is_reset_successful">-->
              <div class="row">
                <div class="col-md-12">
                  <form ng-submit="auth_ctrl.resetPassword(auth_ctrl.requester, auth_ctrl.formResetPassword)"
                        ng-if="!auth_ctrl.is_request_expired && !auth_ctrl.is_verifying_request"
                        name="auth_ctrl.formResetPassword" novalidate>

                    <div class="form-group">
                      <label>Your Email Address</label>
                      <input type="email" disabled="disabled" class="form-control" ng-model="auth_ctrl.requester.email" required />
                    </div>
                    <div class="form-group">
                      <label>New Password
                        <i class="fa fa-info-circle"
                           data-toggle="tooltip"
                           data-title="Passwords must be 8 - 25 characters long and include both an upper case and lower case letter, a number and a special character (such as !,%,&,@,#,$,^,*,?,_,~).  We recommend against passwords which include identifying information such as your name, phone number, date of birth, social security number, etc.  Your new password must be different from your last three passwords."
                           data-placement="top"
                           rv-tooltip></i>
                      </label>
                      <a href="javascript:void(0)" id="show_pass_reg" class="pull-right">Show Password</a>                      
                      <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                      <input style="display:none" type="text" name="fakeusernameremembered"/>
                      <input style="display:none" type="password" name="fakepasswordremembered"/>

                      <input id="password" type="password" class="form-control" name="new_pass" ng-pattern="auth_ctrl.regexPassword"
                             ng-model="auth_ctrl.requester.password" required autocomplete="false" autofocus="true"  />

                      <div ng-messages="auth_ctrl.submitted && auth_ctrl.formResetPassword.new_pass.$error" class="form-error-msg">
                        <div ng-message="required" class="text-danger">This is a required field.</div>
                        <div ng-message="pattern" class="text-danger">Password must meet guidelines shown in the <i class="fa fa-info-circle"></i> icon. </div>
                      </div>

                    </div>
                    <div class="form-group">
                      <label>Confirm New Password</label>

                      <div class="fake-input">
                        <input id="conf_password" type="password" class="form-control" name="conf_pass"
                               ng-pattern="auth_ctrl.regexPassword"
                               ng-model="auth_ctrl.requester.conf_password" compare-to="auth_ctrl.requester.password" autocomplete="off"
                               required/>
                        <img src="assets/img/check.png" ng-show="!auth_ctrl.formResetPassword.conf_pass.$error.required && !auth_ctrl.formResetPassword.conf_pass.$error.compareTo && !auth_ctrl.formResetPassword.new_pass.$error.pattern && auth_ctrl.requester.password"
                              />
                      </div>
                      

                      <div ng-messages="auth_ctrl.submitted && auth_ctrl.formResetPassword.conf_pass.$error" class="form-error-msg">
                        <div ng-message="required" class="text-danger">This is a required field.</div>
                        <!--<div ng-message="pattern" class="text-danger">Please use a strong Password</div>-->
                        <div ng-message="compareTo" class="text-danger" ng-show="!auth_ctrl.formResetPassword.new_pass.$error.pattern && auth_ctrl.formResetPassword.conf_pass.$error.compareTo">
                          This password does not match the password entered above.
                        </div>
                      </div>

                    </div>
                    <div class="white-space-30"></div>
                    <!--<div white-space="40"></div>-->
                    <div class="form-group">
                      <button type="submit" class="btn btn-theme btn-t-primary btn-block" ng-disabled="auth_ctrl.is_loading" ng-click="auth_ctrl.submitted=true">
                        <i class="fa fa-spinner fa-spin spin" style="font-size:18px"></i>&nbsp;&nbsp;
                        Change Password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!--<div class="alert alert-success" role="alert" ng-if="auth_ctrl.is_reset_successful">-->
                <!--Your password is successfully reset. Please wait while we redirect you to the login page.-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--end body-content -->
  <div ui-view="footer"></div>
  <div ui-view="auditlog"></div>
</div>
