<div class="block-section-sm bg-color1 profile" style="overflow: hidden;min-height: 800px;">
  
  <div class="col-md-12">


      <div class="col-md-9 info">
          <h3 class="line-bottom-5">
              Change Password
          </h3>
          <div class="alert alert-danger" role="alert" ng-show="result">
              {{result}}
          </div>
          <div>
              <span>Note :</span>&nbsp;<b>(<span style="color:red;">*</span>) = Required Field &nbsp;&nbsp;</b>
          </div>
          <form name="editUserForm" ng-submit="saveSecurityInformation(editUser, editUserForm)" novalidate>
            <div class="form-inline">
                <label>Username </label> <input type="text" class="form-control" readonly ng-disabled="true" ng-model="editUser.username">
            </div>

            <div class="form-inline row">
                <label class="col-sm-4 col-xs-12"> </label>
                <a href="javascript:;" ng-if="showPasswordFields" ng-click="togglePasswordsVisibility()"  class="col-sm-6 col-sm-offset-0 col-xs-6 col-xs-offset-6">
                    {{ showPasswords ? 'Hide': 'Show' }} Password
                </a>
            </div>

            <div class="collapse" ng-class="showPasswordFields === true ? 'in': ''" id="collapsePasswordFields">
                <div class="form-inline">
                    <label>Current Password  <span style="color:red;">*</span></label>
                    <input
                        type="{{ showPasswords ? 'text': 'password' }}"
                        class="form-control"
                        name="old_password"
                        autocomplete="off"
                        ng-model="editUser.old_password"
                        ng-change="result_old_password=''"
                        required
                        />
                        <div ng-messages="submitted && editUserForm.old_password.$error">
                          <div class="text-danger" ng-message="required">This is a required field.</div>
                        </div>
                        <div class="text-danger" ng-show="result_old_password">{{result_old_password}}</div>
                </div>
                <div class="form-inline">
                    <label>New Password <span style="color:red;">*</span>
                      <i class="fa fa-info-circle"
                         data-toggle="tooltip"
                         data-title="Passwords must be 8 - 25 characters long and include both an upper case and lower case letter, a number and a special character (such as !,%,&,@,#,$,^,*,?,_,~).  We recommend against passwords which include identifying information such as your name, phone number, date of birth, social security number, etc.  Your new password must be different from your last three passwords."
                         data-placement="top"
                         rv-tooltip></i>
                        <span class="pass_meter">
                        </span>
                    </label>
                    <input
                        type="{{ showPasswords ? 'text': 'password' }}"
                        class="form-control"
                        ng-model="editUser.new_password"
                        ng-pattern="regexPassword"
                        autocomplete="off"
                        name="new_password"
                        required />

                    <div ng-messages="submitted && editUserForm.new_password.$error">
                      <div class="text-danger" ng-message="required">This is a required field.</div>
                      <div class="text-danger" ng-message="pattern">Password must meet guidelines shown in the <i class="fa fa-info-circle"></i> icon.
                      </div>
                    </div>
                </div>
                <div class="form-inline">
				
					<label>Confirm New Password <span style="color:red;">*</span>
                        <span class="pass_meter">
                        </span>
                    </label>
					
						<input
                        type="{{ showPasswords ? 'text': 'password' }}"
                        class="form-control"
                        ng-model="editUser.conf_password"
                        ng-pattern="regexPassword"
                        autocomplete="off"
                        name="conf_password"
                        compare-to="editUser.new_password"
                        required />
						<img style="position:relative;width:5%" src="assets/img/check.png" ng-show="!editUserForm.conf_password.$error.required && !editUserForm.conf_password.$error.compareTo && !editUserForm.conf_password.$error.pattern && editUser.new_password"
                              />

                    <div ng-messages="submitted && editUserForm.conf_password.$error">
                      <div class="text-danger" ng-message="required">This is a required field.</div>
                      <div class="text-danger" ng-message="compareTo" ng-show="!editUserForm.new_password.$error.pattern && editUserForm.conf_password.$error.compareTo">
                          This password does not match the password entered above.
                      </div>
            </div>


        </div>
        <div class="form-inline">
          <button type="button" class="btn btn-theme btn-t-primary btn-responsive2" ng-click="cancel('dashboard_home')">Cancel</button>
          <div class="white-space-10 hidden-sm hidden-md hidden-lg"></div>
          <button type="submit" id="save-profile-btn" class="btn btn-theme btn-t-primary btn-responsive2" ng-click="submitted=true"><i class="fa fa-save"></i>
            {{status}}
          </button>
        </div>
    </div>

  </form>
          

      </div>
        

  </div>

</div>
