<form name="clientFormStudent" ng-submit="verifyClientForm(clientFormStudent,clientFormData,1,'clientForm')" enctype="multipart/form-data" novalidate>
    <div rv-floater="{{floaterInit}}" rv-obj-height="{{headerHeight}}" rv-right="{{rightOffset}}" class="hidden-xs hidden-sm">
        <button type="button" class="btn btn-theme btn-t-primary" ng-click="cancel('dashboard_client_list', {daycareId:daycareId})">Cancel</button>
        <button id="submit-student" type="submit" class="btn btn-theme btn-t-primary">
            <i class="fa fa-save"></i>
            Continue
        </button>
    </div>
    <div ng-init="setForm('clientFormStudent',clientFormStudent)" class="col-xs-12">
        <div class="col-xs-12 info">
            <!-- Profile Info -->
            <div class="col-xs-12 info">
                <h3 class="line-bottom-5">
                    Personal Information
                    <!--<span ng-if="progress.updateMode"><a class="btn btn-defualt pull-right" ui-sref="dashboard_client_list({daycareId:daycareId})">Back to List</a></span>-->
                </h3>
                <div>
                  <span>Note:</span>&nbsp;
                  <b>(<span style="color:red;">*</span>) = Required Field &nbsp;&nbsp;
                  </b>

                </div>
                <!-- First Name -->
                <div class="form-inline">
                    <label>First Name
                        <span style="color:red;">*</span>
                    </label>
                    <input type="text" name="clientFormFirstName" class="form-control" ng-model="clientFormData.firstName" required>
                    <div ng-messages="clientFormStudent.$submitted && clientFormStudent.clientFormFirstName.$error" ng-if="clientFormStudent.$submitted && clientFormStudent.clientFormFirstName.$error"  class="error-label">
                        <div class="text-danger" ng-message="required">This is a required field.</div>
                    </div>
                </div>

                <!-- Middle Name -->
                <div class="form-inline">
                    <label>Middle Name
                    </label>
                    <input type="text" name="clientFormMiddleInitial" class="form-control" ng-model="clientFormData.middleInitial">
                </div>

                <!-- Last Name -->
                <div class="form-inline">
                    <label>Last Name
                        <span style="color:red;">*</span>
                    </label>
                    <input type="text" name="clientFormLastName" class="form-control" ng-model="clientFormData.lastName" required>
                    <div ng-messages="clientFormStudent.$submitted && clientFormStudent.clientFormLastName.$error" ng-if="clientFormStudent.$submitted && clientFormStudent.clientFormLastName.$error"  class="error-label">
                        <div class="text-danger" ng-message="required">This is a required field.</div>
                    </div>
                </div>

                <!-- Gender -->
                <div class="form-inline">
                    <label>Gender
                        <span style="color:red;">*</span>
                    </label>
                    <select class="form-control" name="clientFormGender" ng-model="clientFormData.gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div ng-messages="clientFormStudent.$submitted && clientFormStudent.clientFormGender.$error" ng-if="clientFormStudent.$submitted && clientFormStudent.clientFormGender.$error" class="error-label">
                        <div class="text-danger" ng-message="required">This is a required field.</div>
                    </div>
                </div>

                
                <!-- Date of Birth -->
                <div class="form-inline">
                    <label>Date of Birth
                        <span style="color:red;">*</span>
                    </label>
                    <input type="text" name="clientFormBirth" class="form-control" ng-model="clientFormData.birth" rv-date rv-date-max="dateTmrw" placeholder="mm/dd/yyyy" rv-date-cb="calculateAge(date)" maxlength="10" required>
                    <div ng-messages="clientFormStudent.$submitted && clientFormStudent.clientFormBirth.$error" ng-if="clientFormStudent.$submitted && clientFormStudent.clientFormBirth.$error" class="error-label">
                        <div class="text-danger" ng-message="required">This is a required field.</div>
                        <div class="text-danger" ng-message="dateRequired">This is a required field.</div>
                        <div class="text-danger" ng-message="rvDate">Invalid date.</div>
                        <div class="text-danger" ng-message="rvDateAllowedMin">Must be after 01/01/1900.</div>
                        <div class="text-danger" ng-message="rvDateMax">Must be before {{dateTmrw}}.</div>
                        <div class="text-danger" ng-message="rvDateFormat">Enter date as MMDDYYYY.</div>
                    </div>
                </div>

                <!-- Auto: Age -->
                <div class="form-inline">
                    <label>Age
                    </label>
                    <input type="text" name="clientFormAge" class="form-control" ng-model="clientFormData.age" disabled>
                    <div ng-messages="clientFormStudent.$submitted && clientFormStudent.clientFormAge.$error" ng-if="clientFormStudent.$submitted && clientFormStudent.clientFormAge.$error" class="error-label">
                        <div class="text-danger" ng-message="required">This is a required field.</div>
                    </div>
                </div>

                <!-- Class -->
                <div class="form-inline">
                    <label>Classroom</label>
                    <select name="clientFormClass" class="form-control" ng-model="clientFormData.class" val-to-obj="classes" rv-property="_id"
                        ng-options="class.name for class in classes"></select>
                </div>

                

            </div>

            <!-- Home Address -->
            <div class="col-xs-12 info">
                <h3 class="line-bottom-5 rel-pos">
                    Home Address
                    <i class="fa fa-info-circle info-sup large-text" data-title="Populated once you enter Primary Parent's/Guardian's information in the next tab. Primary Parent's/Guardian's home address will be registered as Child's home address." data-placement="right" rv-tooltip></i>
                </h3>
                <div class="form-inline">
                    <label>PO Box </label>
                    <input type="text" name="clientFormPobox" class="form-control" ng-model="clientFormData.mailing_address.pobox" ng-disabled="true">
                </div>
                <div class="form-inline">
                    <label>Street </label>
                    <input type="text" name="clientFormStreet" class="form-control" ng-model="clientFormData.mailing_address.street" ng-disabled="true">
                </div>
                <div class="form-inline">
                    <label>Apt./Unit </label>
                    <input type="text" name="clientFormApt" class="form-control" ng-model="clientFormData.mailing_address.apt" ng-disabled="true">
                </div>
                <div class="form-inline">
                    <label>Zip Code </label>
                    <input type="text" name="clientFormZipcode" class="form-control" 
                    ng-model="clientFormData.mailing_address.zip" 
                    gp-gac="{ types: ['(regions)'],  componentRestrictions: { country: 'US' }}"
                    gp-options="{ display: 'postal_code' }"
                    gp-components="gpComponents"
                    gp-city="clientFormData.mailing_address.city"
                    gp-state="clientFormData.mailing_address.state"
                    restrict-to="[0-9]" placeholder=""
                    ng-disabled="true">
                </div>
                <div class="form-inline">
                    <label>City </label>
                    <input type="text" name="clientFormCity" class="form-control" ng-model="clientFormData.mailing_address.city" ng-disabled="true">
                </div>
                <div class="form-inline">
                    <!-- <label>State :  </label> <input type="text" name="state" class="form-control" ng-model="editUser.address.state" required> -->
                    <label>State </label>
                    <select class="form-control" ng-model="clientFormData.mailing_address.state" name="state" ng-options="option for option in stateList" select-type="basic-dropdown" ng-disabled="true" placeholder="Your State">
                    </select>
                </div>
            </div>

            <div class="col-xs-12 visible-xs visible-sm">
                <button type="button" class="btn btn-theme btn-t-primary btn-responsive2" ng-click="cancel('dashboard_client_list', {daycareId:daycareId})">Cancel</button>
                <div class="white-space-10 hidden-sm hidden-md hidden-lg"></div>
                <button type="submit" class="btn btn-theme btn-t-primary btn-responsive2">
                    <i class="fa fa-save"></i>
                    Continue
                </button>
            </div>
            
        </div>
        
    </div>
    <!--<button type="submit" id="save-client-btn-add" ng-click="" class="btn btn-theme btn-t-primary" ng-if="progress.updateMode" >
        <i class="fa fa-save"></i>
        Update
    </button>-->
    <!--<span ng-show="clientForm.$submitted && clientForm.$invalid" class="text-danger">Error. Verify input for required fields.</span>-->
    <div style="display: none">
    <h4>Errors</h4>
    <p ng-repeat="(k,v) in clientForm.$error.required">
    {{k}} : { name:{{v.$name}},error:{{v.$error}},value:{{v.$viewValue}} }

    </p>
    <h4>Errors</h4>
    {{clientForm.$error}}
    </div>
</form>