<div class="col-xs-12 col-md-3" >
    <div class="white-space-15"></div>
    <div class="block-section-sm side-right" id="search-list-filter">

        <a class="visible-xs visible-sm pull-right" ng-click="search_ctrl.clearFilters(true)">Clear all</a>

        <h4 class="row">
            <span class="hidden-xs hidden-sm">Refine Results &nbsp;<button class="btn btn-sm btn-theme btn-t-primary" ng-click="search_ctrl.clearFilters(true)" style="font-size: 10px; padding-right:7px; padding-left:7px; "> Clear Filters </button></span>
            <a class="visible-xs visible-sm" href="" data-target="#collapse-search-filters" data-toggle="collapse" aria-controls="collapse-search-filters" aria-expanded="false" role="button">
                <i class="glyphicon glyphicon-large" ng-class="search_ctrl.filtersShown ? 'glyphicon-minus' : 'glyphicon-plus'"></i> Filters
            </a>
        </h4>
        <div id="collapse-search-filters" class="result-filter collapse">

            <div ng-repeat="filter in search_ctrl.filters" >
                <div class="row">

                    <i id="icon{{$index}}" data-toggle="collapse" data-target="#{{$index}}"
                       class="glyphicon glyphicon-large" ng-class="filter.collapse ? 'glyphicon-plus' : 'glyphicon-minus'"
                       ng-click="search_ctrl.toggleIcon($index)"></i>

                    &nbsp;&nbsp;<b>{{filter.name}}</b>
                    &nbsp;&nbsp;
                    <span ng-if="filter.modal">
                        <a data-toggle="modal" data-target="{{filter.modal}}" ><i class="fa fa-info-circle"></i></a>
                    </span>
                    
                </div>
                <div ng-class="filter.collapse ? 'collapse out' : 'collapse in'" ng-attr-id="{{$index}}">
                    <ul class="list-unstyled">
                        <li ng-repeat="value in filter.values | orderBy:'description'">
                            <input  type="checkbox" name="{{filter.code}}" value="{{value.data}}" style="margin-right:1%"
                                   ng-click="search_ctrl.applyFilter(filter.code, value.data)"
                                    ng-checked="search_ctrl.preloadFilterValue(filter.code, value.data)">

                            &nbsp;&nbsp;

                            <span ng-if="filter.code=='overAllRatings'" class="rate" rating={{value.data}}></span>
                            <span ng-if="filter.code!='overAllRatings'  && !value.modal">{{value.description}}</span>

                            <span ng-if="value.modal"><a data-toggle="modal" data-target="{{value.modal}}" >{{value.description}}</a></span>


                            <span ng-if="value.tooltip">
                                <i class="fa fa-info-circle"
                                   data-toggle="tooltip"
                                   data-title="{{value.tooltip}}"
                                   data-placement="top"
                                   rv-tooltip></i>
                            </span>

                            <!--{{Math.floor((Math.random() * 20000) + 500) }}-->

                        </li>
                    </ul>

                </div>
            </div>



        </div>
    </div>


</div>
<div>
    <ng-include src="'templates/modals/coverage.modal.html'"></ng-include>
    <ng-include src="'templates/modals/service_options.modal.html'"></ng-include>
    <ng-include src="'templates/modals/other_features.modal.html'"></ng-include>
</div>
<script>
 $(document).ready(function(){
    $(window).scroll(function(){
       /* if ($(window).scrollTop() > 160) {
            $("#search-list-filter").addClass("search-sidebar-onscroll");
        }
        if($(window).scrollTop() < 160){
            $("#search-list-filter").removeClass("search-sidebar-onscroll");
        }*/
    })
});
</script>