<!-- wrapper page -->
<div class="wrapper">
  <!-- main-header -->
  <header class="main-header">
    <div ui-view="navbar"></div>
    <div ng-if="includeSubheader">
      <div class="white-space-20"></div>
      <h3 class="color-white text-center">
        <div ng-bind-html="subHeaderContent"></div>
      </h3>
      <div class="white-space-20"></div>
    </div>
  </header>
<!-- body-content -->
  <div class="block-section bg-color4 forgot-password">
    <div class="container">
      <div class="panel panel-md">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3 class="no-margin-top" ng-if="auth_ctrl.sending_email_success">Password Reset link sent</h3>
              <h3 class="no-margin-top" ng-if="!auth_ctrl.sending_email_success">Forgot Password?</h3>
              <div class="white-space-15"></div>
              <div class="alert alert-danger" role="alert" ng-if="auth_ctrl.sending_email_error">
                Sorry, we were unable to send the link to you. Please try again.
              </div>
              <div class="alert alert-success" role="alert" ng-if="auth_ctrl.sending_email_success">

                An email containing the password reset link has been sent to  <strong>{{ auth_ctrl.user_email }}</strong>.
                Please ensure you have not marked emails from Ratingsville to be
                directed to your Spam or Trash folders. If you do not receive an email from us in the next few minutes,
                please request another <a ui-sref="forgotPassword" ui-sref-opts="{reload: true}">password reset link</a> or
                <a ui-sref="contactus">contact us</a>.

              </div>
              <div class="alert alert-danger" role="alert" ng-if="auth_ctrl.email_not_found">
				Sorry, we do not recognize the email address you entered. Please try again or <a ui-sref="register">register</a> as a new user.
              </div>
              <div class="row" ng-if="!auth_ctrl.sending_email_success">
                <div class="col-md-12">
                  <form ng-submit="auth_ctrl.sendPasswordResetLink(auth_ctrl.user_email, auth_ctrl.formForgotPassword)"
                        name="auth_ctrl.formForgotPassword" novalidate>
                    <div class="form-group">
                      <label>Please enter your email address and we will send you a link to reset your password</label>
                      <input type="email" ng-model="auth_ctrl.user_email" ng-pattern="auth_ctrl.emailRegex"  name="email" id="forgotPasswordEmail" class="form-control" focus="true" required autocomplete="off">
                      <div ng-messages="auth_ctrl.submitted &&auth_ctrl.formForgotPassword.email.$error"  class="form-error-msg">
                        <div ng-message="required" class="text-danger">Enter your email address</div>
                        <div ng-message="email" class="text-danger">Enter a valid email address</div>
                        <div ng-message="pattern" class="text-danger">Enter a valid email address</div>
                      </div>
                    </div>
                    <div class="white-space-15"></div>
                    <div class="form-group">
                      <!-- <button type="submit"
                              ng-disabled="auth_ctrl.formForgotPassword.$invalid || auth_ctrl.is_loading"
                              class="btn btn-theme btn-t-primary btn-lg btn-default btn-block">
                        <span ng-if="!auth_ctrl.is_loading">Reset Password</span>
                        <span ng-if="auth_ctrl.is_loading">Sending reset link...</span>
                      </button> -->
                      <button data-ng-disabled=""
                              ng-click="auth_ctrl.submitted=true; "
                              class="btn btn-theme btn-t-primary btn-lg btn-block">
                        <i class="fa fa-spinner fa-spin spin" style="font-size:18px" ></i>&nbsp;&nbsp;
                        <span ng-if="!auth_ctrl.is_loading">Submit</span>
                        <span ng-if="auth_ctrl.is_loading">Sending reset link...</span>
                      </button>
                    </div>
                    <!--<div class="form-group " style="width: 100%">-->
                      <!--<div class="col-md-12 text-center">-->
                        <!--<p class="help-block"><a ui-sref="register"> Not yet a member? <strong>Create a free account</strong></a></p>-->
                      <!--</div>-->
                    <!--</div>-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ui-view="footer"></div>
  <div ui-view="auditlog"></div>
</div>