<div class="col-xs-12 profile">
  <form id="detailFormThree" name="detailFormThree" ng-submit="switchForm(4)" novalidate>
    <div rv-floater="{{floaterInit}}" rv-obj-height="{{headerHeight}}" rv-right="{{rightOffset}}" class="hidden-xs hidden-sm">
      <button type="button" class="btn btn-theme btn-t-primary" ng-click="cancelUpdate()">Cancel</button>
      <button type="button" class="btn btn-theme btn-t-primary" ng-click="switchForm(2)">Go Back</button>
      <button type="submit" class="btn btn-theme btn-t-primary">
        <i class="fa fa-save"></i>
        Continue
      </button>
    </div>
    <div class="col-xs-12 info" ng-init="formHash[3] = detailFormThree">
      <div class="row">
        <span>Note:</span>&nbsp;
        <b>(<span style="color:red;">*</span>) = Required Field &nbsp;&nbsp;</b>
      </div>
      <div class="form-inline">
        <label>Coverage</label>
        <div class="d-inline-block checkbox-group">
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="fullday" ng-model="listing.fullday" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Full day</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="halfday" ng-model="listing.halfday" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Half day</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="infantcare" ng-model="listing.infantcare" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Infant</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="nightcare" ng-model="listing.nightcare" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Night
                <i class="fa fa-info-circle" data-toggle="tooltip" data-title="Ratingsville criteria: Coverage generally from 7 pm to 5 am (following day)" data-placement="top" rv-tooltip></i>
              </label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="parttime" ng-model="listing.parttime" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Part time</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="schoolyearonly" ng-model="listing.schoolyearonly" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> School year only</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="weekend" ng-model="listing.weekend" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Weekend</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <label>Service options</label>
        <div class="d-inline-block checkbox-group">
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="afterschool" ng-model="listing.afterschool" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> After school</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="beforeschool" ng-model="listing.beforeschool" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Before school</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="dropins" ng-model="listing.dropins" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Drop-ins</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="meals" ng-model="listing.meals" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Food Served</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="transportation" ng-model="listing.transportation" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Transportation</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline">
        <label>Other features</label>
        <div class="d-inline-block checkbox-group">
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="accredited" ng-model="listing.accredited" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Accredited
                <i class="fa fa-info-circle" ng-if="listing.accredited === COMMON.Y" data-toggle="tooltip" data-title="Hold the Ctrl key or the Command key (&#8984; for Mac users) to select multiple accrediting agencies" data-placement="top" rv-tooltip></i>
              </label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="faithbased" ng-model="listing.faithbased" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Faith based</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="goldSeal" ng-model="listing.goldSeal" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" ng-change="goldSealChecked()" /> State Quality Program ({{ listing.address.state | qualityProgram}})</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="headstart" ng-model="listing.headstart" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Head Start</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="schoolReadiness" ng-model="listing.schoolReadiness" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> School Readiness</label>
            </div>
          </div>
          <div class="d-block">
            <div class="checkbox">
              <label><input type="checkbox" name="vpk" ng-model="listing.vpk" ng-true-value="'{{COMMON.Y}}'" ng-false-value="'{{COMMON.N}}'" /> Voluntary Pre-K</label>
            </div>
          </div>
          <div class="d-block">
            <div ng-if="listing.accredited === COMMON.Y">
              <div class="white-space-10"></div>
              <label>Accreditations <span style="color:red;">*</span></label>
              <div class="d-block full-width">
                <select class="form-control input-sm" name="accreditations" ng-model="listing_ctrl.listingAccreds" multiple style="width:100%"
                  ng-options="accreditation.name for accreditation in accreditations | orderBy:'name' track by accreditation.name" required></select>
                <div class="error-label d-block" ng-messages="detailFormThree.accreditations.$error" ng-if="detailFormThree.$submitted && detailFormThree.accreditations.$invalid">
                  <div class="text-danger" ng-message="required">This is a required field.</div>
                </div>
              </div>
              <div class="d-block" ng-if="findOtherAccred() !== -1">
                <div class="white-space-5"></div>
                <input type="text" class="form-control" name="otherAccred" placeholder="Other" ng-model="listing_ctrl.otherAccred" required/>
                <label><span style="color:red;">*</span></label>
                <div class="error-label d-block" ng-messages="detailFormThree.otherAccred.$error" ng-if="detailFormThree.$submitted && detailFormThree.otherAccred.$invalid">
                  <div class="text-danger" ng-message="required">This is a required field.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <button type="button" class="btn btn-theme btn-t-primary btn-responsive2" ng-click="cancelUpdate()">Cancel</button>
        <div class="white-space-10 hidden-sm hidden-md hidden-lg"></div>
        <button type="button" class="btn btn-theme btn-t-primary btn-responsive2" ng-click="switchForm(2)">Go Back</button>
        <div class="white-space-10 hidden-sm hidden-md hidden-lg"></div>
        <button type="submit" class="btn btn-theme btn-t-primary btn-responsive2">
          <i class="fa fa-save"></i>
          Continue
        </button>
      </div>
    </div>
  </form>
</div>